body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

p {
    margin: 10px 0;
    text-align: center;
}

form {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="email"],
input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

input[type="submit"] {
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 20px;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #006F8C;
}
